/* Set html and body to take the full height */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Main content container to take available space */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Library management card styling */
.library-management-card {
    background-color: #f8f9fa; /* Light gray background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px auto;
    max-width: 400px;
    min-height: 350px;
    display: flex;
    margin-top: 150px;
    margin-bottom: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
}

.library-management-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.library-management-card h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Button Container */
.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
}

.library-management-card button {
    margin: 0.5rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: 100%;
}

.library-management-card button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

button:active {
    background-color: #004080;
    transform: translateY(1px);
}


/* Modal Styling */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 300px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content p {
    margin: 15px 0;
}

.modal button {
    margin-top: 15px;
    padding: 10px 15px;
    width: 100%;
}

.button-container {
    margin-bottom: 20px;
}

/* Responsive Design */
@media (max-width: 600px) {
    .library-management-card {
        max-width: 90%;
        min-height: 300px;
    }

    .button-container {
        flex-direction: column;
        gap: 15px;
    }

    .modal {
        padding: 10px;
    }
    
    .modal-content p {
        margin: 8px 0;
    }
    
    .modal button {
        padding: 10px;
    }
}
